* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000;
  }
  
  #top {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 25px;
  }
  
  #header h2 {
    font-size: 34px;
    color: #5F7BCD;
  }
  
  #header p {
    font-size: 16px;
    color: #555;
  }
  
  #logo img {
    width: 200px;
    height: auto;
  }

  #offerContent h2 {
    font-size: 26px;
    color: #1d2746;
    margin-bottom: 20px;
  }
  
  #offerContent {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  #offerContent h1 {
    font-size: 36px;
    color: #5F7BCD;
    margin-bottom: 40px;
  }
  
 
  
  #salutation p {
    margin-bottom: 20px;
    font-weight: bold;
  }
  #content {
    display: flex;
  }
  
  #content > div {
    flex: 1;
  }
  
  #para1 p,
  #para2 p,
  #para3 p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  

  #footer {
    text-align: center;
    margin-top: 50px;
  }
  
  #footer img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  #footer h2 {
    font-size: 18px;
    color: #555;
  }
  